body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	/* gutter padding won't apply the column with to avoid break of boxes sum > 100% of the width */
	box-sizing: border-box;
}
